[auth]
default_domain:			example.com
service_account_keys:	service_account_keys.json

[files]
exclusions:				exclusions.conf
results_file:           extracted_addresses.txt
results_folder:         extracted_%s
source_accounts:		source_accounts.conf