# ---------------------------------------------------------------------------
# Google API Auth data.
# 
# [google]
# consumer_key: value
# consumer_secret: value
# admin_username: value
# ---------------------------------------------------------------------------

[auth]
consumer_key:		Your Google Apps API Consumer Key
consumer_secret:	Your Google Apps Consumer Secret
admin_username:		Your Google Apps Admin Username (without @yourdomain.com)